html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

nav {
  border-bottom: 1px solid #e2e2e2;
  background: white;
  width: 100vw;
  display: table;
  padding-bottom: 0.25rem;
  position: fixed;
  top: 0;
  left: 0;
}

nav .left {
  float: left;
  padding: 0.5rem 1rem;
}

nav .right {
  float: right;
  padding-right: 1rem;
}

nav .icon {
  height: 1.15rem;
  margin-right: 0.75rem;
}

nav .logo {
  margin-left: 25%;
}

nav .logo img {
  height: 1.5rem;
  margin-top: 0.45rem;
}

nav .page-name {
  font-weight: bold;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
}

nav .right button {
  padding: 0.45rem 1rem;
  margin: 0.25rem 0.25rem;
  font-size: 11px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 4px;
}

header {
  padding: 10vh 12.5vw 0;
}

.main-title {
  padding: 0 10vw 2rem;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1.25;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.img-caption {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  padding-right: 20%;
  color: #666;
}

.img-caption span {
  color: #999;
}

main {
  padding: 0.7rem 12.5vw;
}

.article-heading {
  padding-left: 25%;
  padding-bottom: 2.5rem;
}

.article-heading .article-author {
  font-weight: bold;
  font-size: 0.85rem;
}

.article-heading .date-and-social {
  /* vertical-align: middle; */
}

.date-and-social .article-date {
  float: left;
  font-size: 0.75rem;
}

.icons-container {
  float: right;
  margin-top: -0.5rem;
}

.icons-container .icon {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 15px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
}

.icons-container .clean-icon {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
  padding: 5px;
}

.articles-aside {
  padding-left: 25%;
}

.articles-aside > article {
  float: left;
  width: 70%;
}

.articles-aside > aside {
  width: 25%;
  float: right;
  padding-top: 60vh;
}

.articles-aside > aside .side-link {
  display: block;
  clear: both;
  font-size: 0.75rem;
}

aside .side-link span {
  height: 100%;
}

aside .picks-heading {
  font-size: 0.85rem;
  border-bottom: #f6f6f6 1px solid;
  padding-bottom: 0.5rem;
}

.articles-aside aside img {
  width: 75px;
  float: left;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.fig-container {
  display: block;
  clear: both;
  width: 1150px;
  margin: 1rem auto 2.5rem;
}

.figures {
  width: 100%;
}

.astro {
  width: 22%;
  display: inline-block;
  margin: 0 0 0 2%;
}

.astro-caption {
  font-size: 0.75rem;
  vertical-align: top;
  color: #000;
}
